.brand-button {
  position: relative;
  display: block;

  height: 50px;
  width: 100%;
  min-width: 175px;
  max-width: 300px;
  border-color: #00728c #c4c4c4 #c4c4c4;
  border-radius: 0 10px 10px;
  border-style: solid;
  border-width: 5px 1px 1px;
  background: #ffffff;

  color: #00728c;
  font-size: 18px;
  font-weight: 500;

  cursor: pointer;
}

.brand-button:hover {
  background: #dddddd;
}

.brand-button_center {
  margin: 1em auto;
}

.brand-button_right {
  float: right;
  margin: 1em 0 20px 0;
}
